:export {
  primary: $primary-color;
  primaryDark: $primary-dark-color;
  text: $text-color;
  textLight: $text-light-color;
  background: $background-color;
  backgroundDark: $background-dark-color;
  tag: $tag-color;
  transparent: $transparent;
}
